body {
    margin: 0;
}

.container {
    border: 1px solid black;
    overflow: auto;
    width: 1000px;
    margin: auto;
}

header, a {
    width: 100%;
    background-color: #2E2E2E;
    color: grey;
    text-decoration: none;
    overflow: auto;
}

.div1 {
    padding: 15px 6px 25px 15px;
    float: left;

}

#no_border_left {
    border-left: none;
}

.div1 a {
    padding: 0 6px 0 6px;
    border-left: 1px solid #9F9F9F;
    font-size: small;
}

#icons {
    float: right;
    padding: 10px 15px;
}

#icons .icons {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: grey;
    float: left;
    margin: 5px;
}

.icons .fa {
    display: ruby-base;
    margin: 7px;
    vertical-align: sub;
    color: white;
    background-color: inherit;
}

#icons .icons:link {
    background-color: transparent;
}

#icons .icons:hover {
    background-color: red;
}

#container_list nav {
    padding: 0 15px;
    overflow: hidden;
    clear: left;
}

#container_list nav ul {
    padding: 40px 0 0 0;
    margin: 0;
    float: left;
    width: 100%;
    border-bottom: 5px solid #F1F1F1;
}

#container_ list, ul li {
    list-style-type: none;
    float: left;
    padding: 0 20px 20px 0;
}

#container_list, li a {
    color: #2E2E2E;
}

#container_list, li a:link {
    background-color: transparent;
    text-decoration: none;

}

#container_list li a:hover {
    color: #9F9F9F;
    background-color: transparent;
    text-decoration: none;
    border-bottom: 5px solid #0099FF;
    padding-bottom: 20px;
}

.nobodysfool {
    clear: left;
    overflow: hidden;
}

.firsthalf {
    padding: 45px 15px 45px 15px;
    float: left;
}

.firsthalf, h1, .p1 {
    margin: 0;
}

.p1 {
    color: #999999;
}

#container2 {
    color: #999999;
}

.secondhalf {
    padding: 70px 15px 10px 0;
    float: right;
}

input {
    height: 30px;
    background-color: #F1F1F1;
    border-radius: 5px;
    border-style: none;
    color: #999999;
    width: 215px;
    padding-left: 8px;
}

.first_button {
    height: 30px;
    background-color: #0099FF;
    border-radius: 5px;
    border-style: none;
    color: white;
}

.nobodysfool input .first_button {
    width: 30%;
    height: 40px;
}

.container-2 {
    overflow: hidden;
    width: 100%;
    background-color: #F1F1F1;
    border-bottom: 10px solid #E9E9E9;
    border-top: 5px solid #E9E9E9;
}

.table12 {
    padding: 150px 15px 100px 15px;
    float: left;
    width: 40%;
}

.table123, h1, #container2 {
    width: 80%;
}

.table12 #container2 {
    padding: 18px 0 20px 0;
    margin: 0;
}

span {
    font-size: xx-small;
    vertical-align: baseline;
}

#img_1 {
    float: right;
    padding: 10px 15px 0 0;
    width: 55%;
    height: 430px;
}

#img_1 img {
    width: 100%;
    height: 100%;
}

.container-3 {
    height: 500px;
    clear: left;
}

#container3_div1 {
    float: left;
    padding: 0 15px 0 0;
}

#container3_div2 {
    float: right;
    width: 45%;
    height: 100%;
    padding: 30px 15px;
}

.container3_div2_div {
    width: 50%;
    height: 50%;
    float: left;

}

.container3_div2_div2 {
    width: 50%;
    height: 50%;
    float: right;
}

.container3_img {
    text-align: center;
}

.p_container3 {
    text-align: center;
    color: #0099FF;
    margin: 0;
    letter-spacing: -1px;
}

.p2_container3 {
    color: #666666;
    text-align: center;
    margin: 15px;
    letter-spacing: -1px;
}

.container-4 {
    overflow: auto;
    border-left: solid #0099FF;
    border-width: 10px;
    margin: 15px;
    background-color: #E0E0E0;
    width: 96%;
}

#container4_div1 {
    width: 60%;
    float: left;
    padding: 30px 15px;
}

#container4_h1, #container4_p {
    margin: 0;
}

#container4_button {
    float: left;
    padding: 30px 15px;
}

#container4_button .first_button {
    height: 60px;
    width: 300px;
    font-size: 27px;
    font-family: serif;
    color: #E0E0E0
}

.container-5 {
    padding: 0 0 0 15px;
    overflow: auto;
    clear: left;
    border-top: 5px solid black;
    background-color: #1A1A1A;
}

.container5_div {
    padding-right: 15px;
    padding-bottom: 40px;
    float: left;
    width: 230px;
}

.container5_h1 h1 {
    color: white;
    font-size: smaller;
    font-family: "serif";
    padding: 40px 0 20px 0;
}

#container5_picture215x90 {
    border: 5px solid #1A1A1A;
    width: 215px;
    height: 90px;
    outline-style: double;
    outline-color: #555555;
    outline-width: 1px;
}

.container5_div .p2_container3 {
    text-align: left;
    margin: 20px 40px 10px 0;
}

.container5_a {
    float: right;
    text-align: right;
    color: #0099FF;
    background-color: inherit;
    font-size: small;
}

#container5_list ul li:before {
    content: "\00BB \0020";
    padding: 0 10px 0 0;
    color: white;
}

#container5_list ul {
    margin: auto;
    padding: 0;
}

#container5_list li {
    clear: left;
    border-bottom: 1px solid #232323;
    padding: 0 0 7px 0;
    width: 100%;
}

#container5_list a {
    color: #0099FF;
}

#container5_list #container5_list_noborder {
    border-bottom: none;
}

.container5_h1second_p h1 {
    color: #666666;
    font-size: large;
    margin: 0;
}

.container5_h1second_p p {
    padding: 0 0 10px 0;
    margin: 0;
    font-size: small;
    color: #666666;
}

.container5_h1second_p .container5_psmall {
    font-size: x-small;
    color: #666666;
}

#container5_input input {
    background-color: #232323;
    margin: 0 0 10px 0;
}

#container5_inputmessage {
    padding-bottom: 85px;
}

#container5_button {
    height: 30px;
    background-color: #0099FF;
    border-radius: 5px;
    border-style: none;
    color: white;
    width: 75px;
}

footer {
    border-top: 2px solid #2D2D2D;
    background-color: #222222;
    height: 40px;
    width: 100%;
    display: table;

}

.displaytable {

    vertical-align: middle;
    width: 100%;
}

#footerone {
    float: left;
    width: 50%;
}

#footerone, #footertwo {

    vertical-align: middle;
    font-size: small;
    color: #666666
}

#footertwo {
    text-align: right;
    float: right;
    width: 50%;
}